@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}*/

span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
}

.text-bold {
    font-weight: bolder;
    font-size: 26pt;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 60px;
    align-items: center;
    /* background-color: white; */
    background-color: transparent;
    position: fixed;
    left: 0%;
    right: 0%;
    font-size: 13pt;
}

.navlinks {
    display: flex;
    gap: 50px;
}

.navlinks li {
    list-style-type: none;
}

.hero-content {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    background-image: 100vh;
    margin-right: 12%;
    margin: auto;
}

.hero-dog {
    margin-right: 12%;
}

.header-text {
    display: flex;
    flex-direction: column;
    font-size: 17pt;
    text-align: left;
    margin: 10%;
    color: rgb(167, 165, 165);
}

.header-text h1 {
    font-size: 50px;
    font-weight: bolder;
    color: black;
    margin-top: 20%;
}

.welcome-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 12%;
}

.welcome-text h2 {
    font-size: 20pt;
    font-weight: bold;
}

.welcome-text p {
    color: #808080;
    font-size: 14pt;
    width: 60%;
    text-align: center;
}

.welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 85%;
    gap: 8rem;
}

.welcome-text1 h2 {
    font-size: 24pt;
    margin-top: 7%;
}

.welcome-text1 p {
    text-align: right;
    color: #808080;
    font-size: 14pt;
    margin-bottom: 30px;
}

.welcome-text1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* margin-bottom: 10%; */
}

.btn1 {
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 12px 30px;
    max-width: 150px;
}

.welcome-text2 h2 {
    font-size: 24pt;
    text-align: left;
    margin-top: 10%;
}

.welcome-text2 p {
    text-align: left;
    color: #808080;
    font-size: 14pt;
    margin-bottom: 30px;
}

.welcome-image2 {
    width: 150%;
}


.btn2 {
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 12px 30px;
    max-width: 150px;
}

.welcome-text3 h2 {
    font-size: 24pt;
    text-align: right;
}

.welcome-text3 p {
    text-align: right;
    color: #808080;
    font-size: 14pt;
    margin-bottom: 30px;
}

.welcome-text3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 5%;
    margin-bottom: 15%;
}

.welcome-image3 {
    width: 100vh;
}

.btn3 {
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 12px 30px;
    max-width: 150px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-left: 10%;
    gap: 7rem;
    margin-right: 8%;
}

.about-content h2 {
    font-size: 24pt;
    font-weight: bolder;
    margin-top: 40%;
}
.lead {
    text-align: left;
    font-size: 22px;
    line-height: 36px;
    font-weight: lighter;
    margin-bottom: 2%;
    margin-top: 2%;
    color: #808080;
}

.follow {
    font-size: 15px;
    line-height: 27px;
    color: #6C757D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 8%;
    text-wrap: wrap;
}

.about-image {
    width: 120%;
}

.aboutlist {
    font-size: 17px;
    line-height: 32px;
    color: #808080;
    padding-left: 40px;


}

